
svg{
    background-color: #aaaaaa
}

.containerrow{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin-left:auto;
    margin-right:auto;
}

.map{
    order: 1;
    width: 400px;
}

.demographics{
    order: 2;
    width: 200px;
}

.timeseries{
    order: 3;
    width: available;
}

.regionfilter{
    height: 15px;
    display: block;
    padding-bottom: 10px;
    padding-top: 10px;
}



svg.demographic_svg{
    padding: 0px;
}

div.demographic_measurename{
    padding-top: 25px;
    font-size:10px;
}

div.demographic_measurement{
    font-size:10px;
}

@media only screen and (max-width: 750px) and (min-width: 601px){
    .containerrow{
        padding-left: 5%;
        width: 95%;
    }
}

@media only screen and (max-width: 500px) {
    .containerrow{
        flex-direction: column;
        padding-left: 0;
        width: 100%
    }
}
